@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}


body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "system";
  overflow-y: none;
}

/* .main{
  display: none;
  opacity: 0;
  transition: opacity 2s ease-in-out;
} */


/* Loader-section */
/* .loader{
  padding: 200px 500px;
  font-size: 40px;
  font-family: 'ZCOOL Kuale', cursive;
  color: black;
  opacity:1;
}
.loader::after{
  content: '\2026';
  display: inline-block;
  overflow: hidden;
  vertical-align: center;
  animation: dots steps(4, end) 2s infinite;
  width: 0;
}

@keyframes dots{
  to{
      width: 50px;
  }
 } */

/*   Header-section  */
.header-sticky {
  background: black;
  /*background: white;*/
  position: fixed;
  z-index: 1;
  top: 0;
  align-items: center;
  width:100%;
  display: flex;
  overflow: hidden;
}

/*    Nav-area-section */
.nav-logo {
  height: 60px;
  padding: 10px 0 0 20px;
}


/* Nav-ul */
#navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 54px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Nav-li */
.nav-item {
  display: inline;
  padding: 10px 80px;
}

/* Nav-a */
.nav-link {
  text-decoration: none;
  font-size: 25px;
  color:white;
}
.service:hover{
  border-bottom: 1px solid white;
  color:red;
}
.barber:hover{
  border-bottom: 1px solid white;
 color:red;
}
.location:hover{
  border-bottom: 1px solid white;
 color:red;
}
.contact:hover{
  border-bottom: 1px solid white;
 color:red;
}
 /* .icon-hamburger{
  position: absolute;
  display: none;
  top:0;
  right:0;
  font-size: 55px;
  padding: 5px 22px;
  color:white;
} */



/*  Top-area-section */
#Top-area {
  padding: 315px 15px ;
  background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(https://images.pexels.com/photos/897271/pexels-photo-897271.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) fixed no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  backface-visibility: visible;
  opacity: 0.9;
  box-shadow: 0px 7px 25px black;
}
/* https://images.pexels.com/photos/897271/pexels-photo-897271.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260 */

#Top-area .name {
  font-size: 100px;
  text-align: center;
  font-family: cursive;
  }


#Top-area .span-xander {
  color: white;
  text-shadow: 1px 1px 10px black;
  /*animation: heading 2s ease-in-out 3 alternate forwards;
  }

  @keyframes heading {
    0%{ color: blue;}

    100% { color: maroon;}
  */}

#Top-area .span-barber {
  color: maroon;
  text-shadow: 1px 1px 3px indianred;
}

/*  Feature-area-section */
#feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  align-items: center;
  background: linear-gradient(45deg, grey, transparent);
  font-family: sans-serifs;
}


#feature .box-1 {
  padding: 20px;
  text-align: center;
  grid-column: 1/4;
}

.box-1 .text-1 {
  font-size: 50px;
  font-family: cursive;
  font-style: italic;
  padding-bottom: 20px;
}

.box-1 .text-2 {
  font-size: 50px;
  padding-bottom: 40px;
}

.box-1 .text-3 {
  font-size: 20px;
  color: black;
  margin: 0 291px;
  letter-spacing: 2px;
  font-weight: bold;
}

#feature .box-2 {
  padding: 20px;
  /* background: antiquewhite; */
  text-align: center;
}

#feature .box-2 .scissor-icon {}

#feature .box-2 .p-1 {
  margin-top: 20px;
  color: #373c42;
  font-weight: bold;
  padding-bottom: 20px;
}

#feature .box-2 .p-2 {
  color: maroon;
  font-weight: 100;
}

#feature .box-3 {
  padding: 20px;
  /* background: antiquewhite; */
  text-align: center;
}

#feature .box-3 .p-1 {
  margin-top: 20px;
  color: #373c42;
  font-weight: bold;
  padding-bottom: 20px;
}

#feature .box-3 .p-2 {
  color: maroon;
  font-weight: 100;
}

#feature .box-4 {
  padding: 20px;
  /* background: antiquewhite; */
  text-align: center;
}

#feature .box-4 .p-1 {
  margin-top: 20px;
  color: #373c42;
  font-weight: bold;
  padding-bottom: 20px;
}

#feature .box-4 .p-2 {
  color: maroon;
  font-weight: 100;
}

#feature .box-5 {
  padding: 20px;
  /* background: antiquewhite; */
  text-align: center;
}

#feature .box-5 .p-1 {
  margin-top: 20px;
  color: #373c42;
  font-weight: bold;
  padding-bottom: 20px;
}

#feature .box-5 .p-2 {
  color: maroon;
  font-weight: 100;
}

#feature .box-6 {
  padding: 20px;
  /* background: antiquewhite; */
  text-align: center;
}
/* #feature .box-6:after{
  content: "";
    display: block;
    width: 63%;
    padding-top: 20px;
    border-bottom: 1px solid black;
    position: relative;
    top: 54px;
    left: 76px;
} */

#feature .box-6 .p-1 {
  margin-top: 20px;
  color: #373c42;
  font-weight: bold;
  padding-bottom: 20px;
}

#feature .box-6 .p-2 {
  color: maroon;
  font-weight: 100;
}

#feature .box-7 {
  padding: 20px;
  /* background: antiquewhite; */
  text-align: center;
}

#feature .box-7 .p-1 {
  margin-top: 20px;
  color: #373c42;
  font-weight: bold;
  padding-bottom: 20px;
}

#feature .box-7 .p-2 {
  color: maroon;
  font-weight: 100;
}

/* Barber-section */

#Barbers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  align-items: center;
  background: linear-gradient(502deg, grey, transparent);
  font-family: sans-serif;
}

#Barbers .barber-header{
  padding: 20px;
  /* background: antiquewhite; */
  text-align: center;
  grid-column: 2/3;
}

#Barbers .barber-header h1{
  font-size: 70px;
  font-family: Lucida Sans Unicode;
  font-style: oblique;
}

#Barbers .barber-1{
  padding: 23px;
  /* background: antiquewhite; */
  text-align: center;
  grid-column: 1/2;
}
#Barbers .barber-1 .photo-1{
  width: 69%;
  box-shadow: 4px 3px 26px black;
}

#Barbers .barber-1 .b-name{
  margin-top: 10px;
  font-size: 30px;
}

#Barbers .barber-1 h5{
  margin-top: 10px;
}

#Barbers .barber-1 p{
  margin-top: 10px;
}

#Barbers .barber-2{
  padding: 19px;
  /* background: antiquewhite; */
  text-align: center;
}

#Barbers .barber-2 .photo-2{
  width: 71%;
  box-shadow: 4px 3px 26px black;
}

#Barbers .barber-2 .b-name2{
  margin-top: 10px;
  font-size: 30px;
}

#Barbers .barber-2 h5{
  margin-top: 10px;
}

#Barbers .barber-2 p{
  margin-top: 10px;
}

#Barbers .barber-3{
  padding: 27px;
  /* background: antiquewhite; */
  text-align: center;
}

#Barbers .barber-3 .photo-3{
  width: 75%;
  box-shadow: 4px 3px 26px black;
}

#Barbers .barber-3 .b-name3{
  margin-top: 10px;
  font-size: 30px;
}

#Barbers .barber-3 h5{
  margin-top: 10px;
}

#Barbers .barber-3 p{
  margin-top: 10px;
}

/* location-section */
#location{
  padding: 100px 15px;
  background: linear-gradient(371deg, black, transparent);
}

 .map{
  height: 400px;
  width: 100%;
}
/* footer-section */
#footer{
  background:black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

#footer .hours{
text-align: center;
color:white;
display:inline-block;
}
#footer .hours .time-wkday{
  margin-bottom: 12px;
}

#footer h3{
  font-size: 25px;
  margin-bottom: 10px;
  font-family: sans-serif;
  color:white;
}

#footer p{
  font-family: sans-serif;
  color:white;
  margin-top: 4px;
}

#footer .phone{
text-align: center;
color:white;
}
#footer .phone .phone-div{
  padding-bottom: 48px;
}

#footer .address{
text-align: center;
color:white;
}
#footer .address .address-div{
  padding-bottom: 29px;
}
#footer .llc{
  grid-column: 2/3;
}
#footer .Inc{
  padding-left: 75px;
}
#footer .design {
  grid-column: 3/3;
}
#footer .RO{
  padding-left: 107px;
}
#footer .randy{
color: dodgerblue;
}
#footer .randy:hover{
  font-size: 25px;
}
#footer .ortiz{
color: mediumaquamarine;
}
#footer .ortiz:hover{
  font-size: 25px;
}


@media only screen and (max-width: 1200px){
  .nav-item{
    padding: 6px 48px;
  }

  .box-1 .text-3{
    margin: 0 117px;
  }


  }
@media only screen and (max-width: 900px){
  body{
    width: 100%;
  }
  /* .loader{
    padding: 200px 300px;
  } */

  .nav-logo{
    padding: 0 0;
  }
  .nav-item{
    padding: 6px 22px;
  }
  .nav-link{
    font-size: 18px;
  }

  #navbar{
    padding-left: 1px;
  }
 .span-barber {

    padding: 0 67px 0 0px;
}
  .span-xander {

    padding: 0 50px 0 0;
  }
  .box-1 .text-3{
    margin: auto;
  }
  #Barbers{
    display: block;
  }
  #Barbers .barber-1{
    padding: 23px;
    margin: 20px 0;
    text-align: center;
  }
  #Barbers .barber-2{
    padding: 23px;
    margin: 20px 0;
    text-align: center;
  }

  #footer .Inc{
    padding-left: 5px;
  }
  #footer .design {
    grid-column: 3/3;
    padding-left:34px;
  }
  #footer .RO{
    padding-left: 38px;
  }
}

@media only screen and (max-width: 600px) {
  body{
    width: fit-content;
  }

  /* .loader{
    padding: 200px 120px;
  } */
  .header-sticky{
    display:block;
  }

  .nav-logo{
    padding: 0 0;
  }

  .nav-item{
    padding: 6px 3px;
  }

  .nav-link{
    font-size: 18px;
  }

  #navbar{
    display:none;
    padding: 10px 0;
  }
   /* .icon-hamburger{
    display:block;
    font-size: 45px;
  }
  .icon-hamburger:hover{
    color: red;
  } */
  .ham-container {
    position: absolute;
    display: block;
    top:0;
    right:0;
    font-size: 55px;
    padding: 5px 22px;
    color:white;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color: red;
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: red;
  }

  #Top-area {
    width: fit-content;
  }

   .span-barber {
  padding: 0 67px 0 0px;
  }

  .span-xander {
    padding: 0 50px 0 0;
  }

  .box-1 .text-3{
    margin: auto;
  }
  #Top-area .span-xander {
    font-size: 75px;
    padding: 0;
  }
  #Top-area .span-barber {
    font-size: 75px;
  }

  #feature{
    display:block;
  }

  #Barbers{
    display: block;
  }
  #Barbers .barber-1{
    padding: 23px;
    margin: 20px 0;
    text-align: center;
  }
  #Barbers .barber-2{
    padding: 23px;
    margin: 20px 0;
    text-align: center;
  }
  #footer .Inc{
    padding-left: 5px;
  }
  #footer .design {
    grid-column: 3/3;
    padding-left:20px;
  }
  #footer .RO{
    padding-left: 38px;
  }

}

@media only screen and (max-width: 376px){
  body{
    width: fit-content;
  }
  /* .loader{
    padding: 200px 34px;
  } */
  .header-sticky{
    display:block;
  }

  .nav-item{
    padding: 6px 22px !important;
  }
  #navbar{
    display:none;
    padding: 10px 0;
  }
   /* .icon-hamburger{
    display:block;
    font-size: 45px;
  }
  .icon-hamburger:hover{
    color: red;
  } */
  .ham-container {
    position: absolute;
    display: block;
    top:0;
    right:0;
    font-size: 55px;
    padding: 5px 22px;
    color:white;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color: red;
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: red;
  }

  #Top-area {
    width: fit-content;
  }

  #Top-area .span-xander {
    font-size: 75px;
    padding-right: 69px;
}
#Top-area .span-barber {
    font-size: 75px;
}
.box-1 .text-3 {
  padding: 0 40px;
}

#Barbers{
  display: block;
}
#Barbers .barber-1{
  padding: 23px;
  margin: 20px 0;
  text-align: center;
}
#Barbers .barber-2{
  padding: 23px;
  margin: 20px 0;
  text-align: center;
}

#footer .Inc{
  padding-left: 5px;
}
#footer .design {
  grid-column: 3/3;
}
#footer .RO{
  padding-left: 38px;
}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
{
  #Top-area {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/897271/pexels-photo-897271.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)  no-repeat  center;
    background-size: cover;
    background-attachment: scroll;
    -webkit-background-size: cover;
    box-shadow: 0px 7px 25px black;
}

.loader{
  font-family: 'ZCOOL Kuale', LucidaGrandeUI ;

}

#Top-area .name{
  font-family:  LucidaGrandeUI;
}

}
