

$fontsize: 75px;

.span-barber{
  font-size: $fontsize;
}
https://images.pexels.com/photos/897271/pexels-photo-897271.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)
background: url( /Users/randyo28/Projects/Barber-website/images/barber-background.jpeg) fixed no-repeat center;
background-size: cover !important;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center center;
backface-visibility: visible;
opacity: 0.8;

https://us.123rf.com/450wm/haveseen/haveseen1704/haveseen170400294/76161815-vintage-barber-shop-tools-on-old-wooden-background.jpg?ver=6
